@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #7BDAF3;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins',sans-serif;
    padding-top: 2rem;
}

.add {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #9ec862;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
}

.note {
    background-color: white;
    height: 300px;
    width: 300px;
    margin: 20px;
}

.note .tools {
    background-color: #9EC862;
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.note textarea {
    height: 90%;
    width: 100%;
    font-family: inherit;
    outline:none;
    padding: 3px;
}

.note .main {
    height: 90%;
    width: 100%;
    background-color: #eee;
    padding: 3px;

}

.note .hidden {
    display: none;
}

ul,ol {
    list-style-position: inside;
}